

*{
    box-sizing: border-box;
}


body{
    width: 100vw;
    background: #181818;

    
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 500px 1fr 3fr;

    grid-template-areas: 
    "video price"
    "video user"
    "bottom-left bottom-right"
    "bottom-left bottom-right-under";

}
.video{grid-area: video;}
.price{grid-area: price; background-color: aqua;}
.user{grid-area: user; background-color: coral;}
.bottom-left{grid-area: bottom-left; background-color: cadetblue;}
.bottom-right{grid-area: bottom-right; background-color: violet;}
.bottom-right-under{grid-area: bottom-right-under; background-color: yellow;}

.wrapper>.wrapper-top{
    /* width: 1200px; */
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}



/* main */
.wrapper>.wrapper-top>.main{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    color: #fff;
    padding-top: 250px;
}
.wrapper>.wrapper-top>.main>.video{
    border: 1px solid;
    position: absolute;


}
.wrapper-top>.main>.price{
    width: 450px;
    height: 250px;
    display: flex;

    position: relative;
}
.wrapper-top>.main>.price>.list{
    /* position: absolute;
    justify-content: space-between;
    align-items: center; */

    font-size: 16px;
    
}
.wrapper-top>.main>.price>.btn{
    position: absolute;
    align-items: center;
    justify-content: space-between;
}
.wrapper-top>.main>.price>.pay-btn{
    display: flex;
    align-items: center;
    al
}


/* user */
.wrapper-top>.user{
    border: 1px solid white;
    background-color: blue;
    width: 450px;
    height: 162px;
    color: white;
    
    display: flex;
    position: absolute;
    left: 62.5%;
    bottom: 54.2%;

    font-size: 24px;

}
.wrapper-top>.user>.user-emoji{
    width: 50px;
    height: 49px;

    font-size: 24px;

}
/* .wrapper-top>.user>.chart{
    width: 120px;
    height: 120px;
    
}
.wrapper-top>.user>.chart>.pie {
    width: 120px;
    height: 120px;
    background-image: conic-gradient(orange 60%, blue 40%);
    border-radius: 50%
  } */

/* bottom-left */
.wrapper-top>.bottom-left{
    /* border: 1px solid; */
    background-color: green;
    width: 750px;
    height: 490px;
    color: #fff;
    
    text-align: center;
   
    display: flex;
    position: relative;
    
}

/* bottom - right */
.wrapper-top>.bottom-right{
    border: 1px solid white;
    background-color: peru;
    width: 450px;
    height: 239px;
    color: #fff;
    
    position: absolute;
    /* left: 62.5%;
    bottom:28%; */
    display: flex;
    
    

    /* visibility: hidden; */
}
.wrapper-top>.bottom-right>.right{
    font-size: 30px;

    
}
.wrapper-top>.bottom-right>.left{
    width: 25px;
    height: 50px;
    position: absolute;



}
.wrapper-top>.bottom-right>.slider{
    width: 450px;
    height: 240px;
    /* 슬라이더 들어갈 곳 */
}
.wrapper-top>.bottom-right>.slider>.img{
    text-align: center;
}


/* bottom-under-right */
.wrapper-top>.bottom-right-under{
<<<<<<< HEAD
    border-bottom: 1px solid black;
=======
    border: 1px solid white;
>>>>>>> c96c23da5eebce10b39c37ca7f22bd0df44692a8
    background-color: orchid;
    width: 450px;
    height: 172px;
    font-size: 30px;
    color: #fff;

    position: absolute;
    /* left: 62.5%;
    bottom: .2%; */
}
.wrapper-top>.bottom-right-under>.img{
    text-align: center;
    padding: 0;
}
